html
  head
    link(rel="stylesheet" type="text/css" href="/_build/css/main.css")
  body
  script(src="/_build/js/common.js")
  script(src="/_build/js/entry.js")
  script(type="text/javascript").
    require('./src/bootstrap').init('pages/editor')
